.container {
  width: 100%;
  padding: 0px 15px;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h5 {
      font-size: 16px;
      color: #ff1721;
      border-bottom: 2px solid;
    }
    .search {
      display: flex;
      gap: 10px;
      align-items: center;
      img {
        cursor: pointer;
      }
      .muldropdown {
        width: 300px !important;
      }
    }
  }
}
.card {
  width: 100%;
  background: #fff;
  padding: 20px 50px;
  .customHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    span {
      font-size: 16px;
      font-weight: 600;
    }
    .PlusIcon {
      width: 32px !important;
      height: 32px !important;
      background-color: #f7f7ff;
      color: #3a3e43;
      border-radius: 8px !important;
      padding: 5px 8px !important;
      border: 1px solid #f7f7ff !important;
    }
  }
}
@media only screen and (max-width: 768px) {
  .container {
    width: 100% !important;

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      h5 {
        font-size: 14px;
        color: #ff1721;
        border-bottom: 2px solid;
      }
      .search {
        display: flex;
        gap: 10px;
        align-items: center;
        img {
          cursor: pointer;
        }
        .muldropdown {
          width: 250px !important;
        }
      }
    }
  }
  .card {
    padding: 0px !important;
    .customHeader {
      display: flex;
      justify-content: space-between;
      align-items: center;
      span {
        font-size: 14px;
        font-weight: 600;
      }
      .PlusIcon {
        width: 32px !important;
        height: 32px !important;
        background-color: #f7f7ff;
        color: #3a3e43;
        border-radius: 8px !important;
        padding: 5px 8px !important;
        border: 1px solid #f7f7ff !important;
      }
    }
  }
}
